
.home-div{
  height: 100vh;
  display:flex;
  align-items: center;
  justify-content: center;
}

.home-bg {
  background:url('/images/bg.png') no-repeat center center / cover;
  position: fixed;
  top:0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.home-div {


  .home-headline{
    font-size: 70px;
    font-weight: 900;
    color: white;
    margin-bottom:0;
  }

  .home-subheader {
    font-size: 40px;
    font-weight: 100;
    color: white;
  }




}